body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

div {
    width: 80%;
    margin: 0 auto; /* Centers the content */
    padding: 20px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
    text-align: center; 
    font-size: x-large;
    padding: 10px;
    background-color: #f6ffb4; 
    border-left: 5px solid #fcff9e; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

li img {
    display: block;
    max-width: 100%; 
    height: auto;
    margin: 10px auto;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    div {
        width: 95%;
    }

    header h1 {
        font-size: 1.5rem;
    }

    li {
        padding: 10px;
    }
}

